html {
  height: 100%;
}

body {
  background-image: url("https://media.giphy.com/media/xT9Igqq02d80wIqUpy/giphy.gif");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1 {
  color: #ffffffdd;
  font-size: 3em;
  font-family: "Montserrat", sans-serif;
}

.btn-primary {
  background-color: rgb(0, 0, 0);
  border-color: rgba(0, 0, 0, 0);
}

.btn {
  height: 3em;
  width: 8em;
  border-radius: 40px;
}
